h1 {
  font-family: "Mulish", sans-serif;
  height: 50px;
  font-size: 50px;
}

.p1 {
  font-family: "Mulish", sans-serif;
}

.p2 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
}

.p3 {
  font-family: "Train One", cursive;
  font-size: 10px;
}
